html {
    scroll-behavior: smooth;
}

body {
    background-color: #ddd;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}

h2 {
    font-size: 32px;
    line-height: 1.5;
}

nav li {
    display: inline;
    padding-right: 20px;
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.skip a {
    top: -40px;
    background: white;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    position: absolute;
}

.skip a:focus {
    top: 0px;
}


/*Your code here*/


/*Add the selector and rule to move the skip
link to the exact top of the page.*/


/*Your code here*/


/*Add the selector and code to put a 2px black
border around all elements in focus.*/

footer {
    background-color: black;
    color: white;
    grid-column: 1 / -1;
    /*Can you explain what this does?*/
    grid-row: 7 / auto;
    /*Can you rewrite it?*/
    padding-top: 30px;
    text-align: center;
}

nav {
    background-color: #ddd;
    padding: 20px 0;
    text-align: left;
    align-items: left;
    rows: 5;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
}

header {
    background-attachment: fixed;
    /* Parallax effect */
    background-position: center;
    /* Parallax effect */
    background-repeat: no-repeat;
    /* Parallax effect */
    background-size: cover;
    /* Parallax effect */
    color: white;
    height: 400px;
    /* Parallax effect */
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
}

header p {
    color: white;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 100px 400px 100px;
    grid-template-rows: 30px auto auto auto auto auto 100px;
    grid-row-gap: 15px;
}

.about {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.about-image {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    max-height: 700px;
    overflow: hidden;
}

.method {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.method-image {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    max-height: 700px;
    overflow: hidden;
}

.clients {
    grid-column: 2 / 3;
    grid-row: 5/6;
}

.clients-image {
    grid-column: 1/-1;
    grid-row: 5/6;
    max-height: 700px;
    overflow: hidden;
}

.contact {
    grid-column: 2 / 3;
    grid-row: 6/7;
}

.contact-image {
    grid-column: 1 / -1;
    grid-row: 6/7;
    max-height: 700px;
    overflow: hidden;
}

.text-block {
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
    align-content: center;
    align-items: center;
    align-self: center;
    /*Your code here:*/
    /*Align the content in the center */
}

@media all and (min-width: 800px) {
    .container {
        /*Your code here */
        /* See documentation for desktop view */
        display: grid;
        grid-row-gap: 15px;
        grid-template-columns: 50px auto 500px auto 50px;
        grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;
    }
    nav {
        background-color: #ddd;
        text-align: right;
        padding: 35px 0px;
        align-self: center;
    }
    .about, .clients, .method-image, .contact-image {
        /*Your code here */
        /* See documentation for desktop view */
        grid-column: 3 / 5;
    }
    .about-image, .clients-image, .method, .contact {
        /*Your code here */
        /* See documentation for desktop view */
        grid-column: 2 / 4;
    }
}


/*End the media query*/

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }
    .skip a {
        -webkit-transition: none;
        transition: none;
    }
}
